{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <h1 class="text-center text-one fw-bold">Vue API</h1>

    <div id="home">
        <div class="h2 text-three text-center">Get Starwars Character</div>
        <div class="text-center" @click="greet"><div class="btn btn-dark p-2 m-2">Press</div></div>
        <div class="h4">[[message]]</div>
    </div>

{% endblock %}

{% block extra_js %}              
    <script src="{% static 'home/js/home.js' %}" type="text/javascript"></script>
{% endblock %}